* {
    margin: 0;
    margin-right: 0;
    padding: 0;
}

html {
    scroll-behaviour: smooth;
}

:root {
    --navbar-height: 59px;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 2px solid black;
    border-radius: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 70%;
    display: flex;
    text-transform: uppercase;
    font-size: xx-large;
}

.nav-list li {
    list-style: none;
    padding: 2px 6px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: red;
}

.rightNav {
    width: 100px;
    text-align: right;
    box-sizing: border-box;
}

#search {
    padding: 10px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 5px;
}

.background {
    background-color: black;
    background-blend-mode: luminosity;
    background-size: cover;
}

.firstsection {
    height: 100vh;
}

.span {
    font-family: sans-serif;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstHalf img {
    display: flex;
    border-radius: 9050px;
}

.text-big {
    font-family: "Piazzolla", serif;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}

.text-small {
    font-family: "Sansita Swashed", cursive;
    font-size: 18px;
    text-align: center;
}

#service {
    margin: 34px;
    display: flex;
}

#service .box {
    padding: 45px;
    margin: 3px 6px;
    border-radius: 28px;
}

#service .box img {
    margin-top: 20px;
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 200px;
}

#service .box p {
    font-family: sans-serif;
    text-align: center;
}

.searchbar {
    color: red;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.text-big {
    width: auto;
}

.text-small {
    width: auto;
}

.center {
    width: auto;
}

.h-primary center {
    width: auto;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
}

.optionstocont {
    font-size: 4rem;
    font-stretch: expanded;
    /* color: whitesmoke; */
    font-family: serif;
    text-transform: uppercase;
}

.text-footer {
    font-size: 2rem;
    color: red;
}

.backgroundimg {
    text-transform: uppercase;
}


/* 
class="text-big"
 class="text-small"
 class="center1"
*/

.firstHalf:hover {
    color: red;
}

.firstHalf {
    width: auto;
}